<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <div class="card text-center">
    	<%= image_tag("bouquet1.jpg") %>
      <div class="card-overly">
        <h3 class="text-secondary">Thank you for shopping with us.</h3>
      </div>
    </div>
  </div>
</div>

<style>
.cardoverlay{
 padding: 0;
 top: calc(50% - 0.5rem);
 text-align: center;
 font-weight: bold;
}
</style>