<footer>
  <div class="container-xxl mt-5" style="background-color: #d6e9ca;">
    <div class="row">
      <div class="mx-auto">
        <div class="d-flex justify-content-around px-5  mt-3 mb-1">
          <i class="fab fa-brands fa-twitter-square icon_white"></i>
          <i class="fab fa-brands fa-instagram-square icon_white"></i>
          <i class="fab fa-brands fa-facebook-square icon_white"></i>
        </div>
        <p class="icon_green mb-1">Everyone level up after 20 days</p>
      </div>
    </div>
  </div>

  <style>
    .icon_white {
      color: #f8f9fa;

    }
    .icon_green {
      color: #336666;
      font-size: 12px;
  </style>

</footer>